<footer>
    <script type="text/javascript" src="/static/js/moment-with-locales.min.js"></script>

    <script type="text/javascript" src="static/js/app.js"></script>

    <script type="text/javascript" src="/static/js/services/message.js"></script>
    <script type="text/javascript" src="static/js/services/auth.js"></script>
    <script type="text/javascript" src="/static/js/services/form.js"></script>
    <script type="text/javascript" src="/static/js/services/admin.js"></script>
    <script type="text/javascript" src="/static/js/services/user.js"></script>

    <script type="text/javascript" src="static/js/controllers/nav.js"></script>
    <script type="text/javascript" src="static/js/controllers/message.js"></script>
    <script type="text/javascript" src="/static/js/controllers/auth.js"></script>
    <script type="text/javascript" src="/static/js/controllers/category.js"></script>
    <script type="text/javascript" src="/static/js/controllers/form.js"></script>
    <script type="text/javascript" src="/static/js/controllers/study.js"></script>
    <script type="text/javascript" src="/static/js/controllers/summary.js"></script>
    <script type="text/javascript" src="/static/js/controllers/applicant-manager.js"></script>
    <script type="text/javascript" src="/static/js/controllers/categories-manager.js"></script>
    <script type="text/javascript" src="/static/js/controllers/lifetime.js"></script>
    <script type="text/javascript" src="/static/js/controllers/stat.js"></script>

    <script type="text/javascript" src="/static/js/directives/calendar.js"></script>

    <script type="text/javascript" src="/static/js/jspdf.min.js"></script>
    <script type="text/javascript" src="/static/js/html2pdf.js"></script>

    <script type="text/javascript" src="static/js/semantic.min.js"></script>
    <script type="text/javascript" src="static/js/calendar.min.js"></script>

</footer>