<header class="ui fixed orange inverted menu" ng-controller="navController">
	<a class="header item" ng-click="debug()">
		<img class="ui image" src="static/images/logo.png">
	</a>
	<div class="right menu">
		<a class="item" id="home" href="#!" ng-show="loggedIn()">
			<i class="home icon"></i>
			<span>Home</span>
		</a>
		<a class="item" id="recommendation" href="#!recommendation" ng-show="getLevel() == 3">
			<i class="browser icon"></i>
			<span>Recommendation</span>
		</a>
		<a class="item" id="application" href="#!application" ng-show="getLevel() > 3">
			<i class="browser icon"></i>
			<span>Application</span>
		</a>
		<a class="item" id="admin" href="#!admin" ng-show="getLevel() < 3 && getLevel() > 0">
			<i class="browser icon"></i>
			<span>Admin Panel</span>
		</a>		
		<a class="item" id="logout" ng-click="logout()" ng-show="loggedIn()">
			<i class="sign out icon"></i>
			<span>Logout</span>
		</a>
		<a class="item" id="login" href="#!auth" ng-show="!(loggedIn())">
			<i class="sign in icon"></i>
			<span>Login</span>
		</a>
	</div>
</header>