<div class="ui equal width grid">
	<div class="row">
		<div class="column">
			<div class="ui very padded center aligned segment">
				<div class="ui huge header">Welcome to the website of the<br>National Graduate School of Engineering Office!</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="column">
			<div class="ui fluid card">
				<div class="content">
					<div class="header">National Graduate School of Engineering</div>
				</div>
				<a class="ui bottom attached button" target="_blank" href="http://coe.upd.edu.ph/ngse/">
					<i class="users icon"></i>
					Learn more
				</a>
			</div>
		</div>
		<div class="column">
			<div class="ui fluid card">
				<div class="content">
					<div class="header">Documents, Forms and Templates</div>
				</div>
				<a class="ui bottom attached button" target="_blank" href="http://coe.upd.edu.ph/applicants/">
					<i class="file text outline	 icon"></i>
					Find them here
				</a>
			</div>
		</div>
		<div class="column">
			<div class="ui fluid card">
				<div class="content">
					<div class="header">Admission to the Graduate Program</div>
				</div>
				<a class="ui bottom attached button" target="_blank" href="http://coe.upd.edu.ph/graduate-admissions/">
					<i class="student icon"></i>
					Learn more
				</a>
			</div>
		</div>
	</div>
	<!-- <div class="row">
		<div class="twelve wide column">
			<div class="ui fluid announcements card">
				<div class="content">
					<div class="header">Announcements</div>
				</div>
				<div class="announcement content">
					<div class="ui date card">
						<div class="center aligned content">
							<div class="header">19</div>
						</div>
						<div class="ui bottom attached button">
							MAR
						</div>
					</div>
					<div class="details">
						<div class="ui header">Deadline of application moved</div>
						<div class="meta">Due to unforeseen circumstances, the deadline of application for both regular and scholarship applications have been moved to July 15. This is to accomodate the change...</div>
						<div class="ui header"><div class="sub header">by NGSE Office Staff</div></div>
					</div>
				</div>
				<div class="announcement content">
					<div class="ui date card">
						<div class="center aligned content">
							<div class="header">19</div>
						</div>
						<div class="ui bottom attached button">
							MAR
						</div>
					</div>
					<div class="details">
						<div class="ui header">Deadline of application moved</div>
						<div class="meta">Due to unforeseen circumstances, the deadline of application for both regular and scholarship applications have been moved to July 15. This is to accomodate the change...</div>
						<div class="ui header"><div class="sub header">by NGSE Office Staff</div></div>
					</div>
				</div>
				<div class="announcement content">
					<div class="ui date card">
						<div class="center aligned content">
							<div class="header">19</div>
						</div>
						<div class="ui bottom attached button">
							MAR
						</div>
					</div>
					<div class="details">
						<div class="ui header">Deadline of application moved</div>
						<div class="meta">Due to unforeseen circumstances, the deadline of application for both regular and scholarship applications have been moved to July 15. This is to accomodate the change...</div>
						<div class="ui header"><div class="sub header">by NGSE Office Staff</div></div>
					</div>
				</div>
				<div class="content">
					<p>Coming soon...</p>
				</div>
				<div class="ui bottom attached button">
					See past announcements
				</div>
			</div>
		</div>
		<div class="column">
			<div class="ui fluid time card">
				<div class="center aligned content">
					<div class="ui huge header">
						04:15 PM
						<div class="sub header">Friday, March 17</div>
					</div>
				</div>
				<div class="ui bottom attached button">
					The office closes in an hour
				</div>
			</div>
			<div class="ui fluid card">
				<div class="content">
					<div class="header">Important Dates</div>
				</div>
				<div class="content">
					Coming soon...	
				</div>
			</div>
		</div>
	</div> -->
</div>