<form role="category-submission" class="ui fluid form card" ng-controller="studyController" ng-class="{loading: loading}">
	<div class="content">
		<div class="ui breadcrumb">
			<a href="#!application" class="section">Application</a>
			<i class="right angle icon divider"></i>
			<div class="active section">Program of Study</div>
		</div>
	</div>
	<div class="content">
		<div class="ui grid">
			<div class="sixteen wide column field">
				<label>Degree Level</label>
				<sm-radio-group ng-model="user.level">
					<sm-radio-button ng-repeat="l in levels" value="{{l}}" ng-class="{'orange active': user.level === l}">{{l}}</sm-radio-button>
				</sm-radio-group>
			</div>
			<div class="sixteen wide column field">
				<label>Degree Program</label>
				<sm-radio-group ng-model="user.program">
					<sm-radio-button ng-repeat="p in programs" value="{{p}}" ng-class="{'orange active': user.program === p, disabled: !availableProgram(p)}">{{p}}</sm-radio-button>
				</sm-radio-group>
			</div>
			<div class="sixteen wide column ui dividier">
				<div class="ui divider"></div>
			</div>
			<div class="sixteen wide column" ng-if="!thesisOption()">
				<div class="ui visible warning message">
					Non-thesis option is for MS CE-G, MS CE-S, MS CE-W, MS ChE, and MS MSE only
				</div>
			</div>
			<div class="sixteen wide column inline field">
				<label for="option">Program Type</label>
				<sm-radio-group ng-model="user.program_type">
					<sm-radio-button value="thesis" ng-class="{'orange active': thesisOption()}">Thesis</sm-radio-button>
					<sm-radio-button value="nonthesis" ng-class="{'orange active': !thesisOption(), disabled: !nonThesisOption()}">Non Thesis</sm-radio-button>
				</sm-radio-group>
			</div>
			<div class="sixteen wide column inline field">
				<label for="time">Student Type</label>
				<sm-radio-group ng-model="user.student_type">
					<sm-radio-button value="full" ng-class="{'orange active': user.student_type === 'full'}">Full Time</sm-radio-button>
					<sm-radio-button value="part" ng-class="{'orange active': user.student_type === 'part'}">Part Time</sm-radio-button>
				</sm-radio-group>
			</div>
			<div ng-show="thesisOption()" class="sixteen wide column field">
				<label>For Thesis: Choice of Research Field</label>
				<div class="three fields">
					<div class="field">
						<label>1st Choice</label>
						<select class="ui dropdown" id="c1" ng-model="user.choice_1" ng-options="item for item in fields[user.program]" ng-required="thesisOption()">
							<option value="">1st Choice</option>
						</select>
					</div>
					<div class="field">
						<label>2nd Choice</label>
						<select class="ui dropdown" id="c2" ng-model="user.choice_2" ng-options="item for item in filter_c2()" ng-required="thesisOption()">
							<option value="">2nd Choice</option>
						</select>
					</div>
					<div class="field">
						<label>3rd Choice</label>
						<select class="ui dropdown" id="c3" ng-model="user.choice_3" ng-options="item for item in filter_c3()" ng-required="thesisOption()">
							<option value="">3rd Choice</option>
						</select>
					</div>
				</div>
			</div>
			<div ng-show="thesisOption()" class="sixteen wide column field">
				<label>For Thesis: Indicate the name of the potential research adviser (list provided in the brochure of the UP COE website</label>
				<input type="text" name="adviser" ng-model="user.adviser" ng-required="thesisOption()">
			</div>
			<div class="sixteen wide column ui dividier">
				<div class="ui divider"></div>
			</div>
			<div class="sixteen wide column inline field">
				<label>Intended start of study</label>
				<sm-radio-group ng-model="user.start_of_study">
					<sm-radio-button value="first" ng-class="{'orange active': user.start_of_study === 'first'}">First Semester</sm-radio-button>
					<sm-radio-button value="second" ng-class="{'orange active': user.start_of_study === 'second'}">Second Semester</sm-radio-button>
				</sm-radio-group>
			</div>
			<div class="sixteen wide column inline field">
				<label>Academic Year</label>
				<!-- <select class="ui dropdown" id="year" ng-model="user.year" ng-options="item for item in years" required>
					<option value="">Academic Year</option>
				</select> -->
				<input type="text" name="year" ng-model="user.year" required>
			</div>
			<div class="sixteen wide column inline field">
				<label>Are you applying for another scholarship/grant?</label>
				<sm-radio-group ng-model="user.other_scholarship">
					<sm-radio-button value="yes" ng-class="{'orange active': user.other_scholarship === 'yes'}">Yes</sm-radio-button>
					<sm-radio-button value="no" ng-class="{'orange active': user.other_scholarship === 'no'}">No</sm-radio-button>
				</sm-radio-group>
			</div>
			<div ng-show="otherScholarship()" class="sixteen wide column field">
				<label>What is the name of the scholarship program which you are applying for?</label>
				<input type="text" name="scholarship_name" ng-model="user.other_scholarship_name" ng-required="otherScholarship()">
			</div>
			<div class="sixteen wide column">
				<a href="#!application" id="back" class="ui button">Back to Application Summary</a>
				<div id="submit" class="ui primary button" ng-click="submit()">Submit</div>
			</div>
		</div>
	</div>
</form>