<div class="ui vertical segment" ng-controller="applicantManagerController" ng-class="{loading: loading}">

	<table class="ui celled table">
		<thead>
			<tr>
				<th>Name</th>
				<th>E-mail</th>
				<th>Type</th>
				<th>Application Status</th>
				<th>Validation Status</th>
				<th>Date Registered</th>
				<th>Recommender 1</th>
				<th>Recommender 2</th>
				<th>Recommender 3</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="applicant in applicants track by applicant.id">
				<td> <a href=''>{{applicant.name}}</a> </td>
				<td>{{applicant.email}}</td>
				<td>{{applicant.user_type}}</td>
				<td>{{applicant.application_status}}</td>
				<td>{{applicant.validation_status}}</td>
				<td>{{applicant.date_created}}</td>
				<td><a href=''>{{applicant.recommender1}} </a> </td>
				<td>{{applicant.recommender2}}</td>
				<td>{{applicant.recommender3}}</td>
			</tr>
		</tbody>
	</table>

</div>