<div class="ui vertical segment" ng-class="{loading: loading}">

	<div class="ui three cards">
		<a href="#!admin/manageform" class="card">
			<div class="image">
				<i class="idea icon"></i>
			</div>
			<div class="center aligned content">
				Manage Forms
			</div>
		</a>
		<a href="#!admin/categories" class="card">
			<div class="image">
				<i class="idea icon"></i>
			</div>
			<div class="center aligned content">
				Manage Form Categories
			</div>
		</a>
		<a href="#!admin/applicants" class="card">
			<div class="image">
				<i class="idea icon"></i>
			</div>
			<div class="center aligned content">
				Manage Applicants
			</div>
		</a>
	</div>
	
</div>