body {
	padding-top: 96px;
	background: #cf5300;
}

.ui.grid>.column+.divider, .ui.grid>.row>.column+.divider {
    left: 50%;
}

main.ui.raised.vertical.segment {
	padding: 1rem 0;
	margin-bottom: 5rem;
	background: #faebd7;
	min-height: calc(100vh - 96px);
}

header {
	height: 96px;
	box-shadow: 0 1px 2px 0 rgba(34,36,38,.15) !important;
}

header.ui.menu > a.item > .ui.image {
	height: 64px;
	width: 64px;
	margin-right: 1.14285714em;
}

header.ui.menu > a.item:hover {
	background: none;
}

header.ui.menu > a.item:before {
	width: 0;
}

header.ui.menu > a.item:after {
	content: "National Graduate School of Engineering";
}

.right.menu > a.item {
	flex-direction: column;
	justify-content: center;
}

.right.menu > a.item > i.icon {
	font-size: 3rem;
	margin: 0 0 0.33rem 0;
}

@media only screen
and (max-device-width: 991px) {
	body {
		padding-top: 72px;
	}

	main.ui.raised.vertical.segment {
		min-height: calc(100vh - 72px);
	}

	header {
		height: 72px;
	}

	header.ui.menu > a.item:after {
		content: "NGSE";
	}

	.right.menu > a.item > i.icon {
		font-size: 1.5em;
		margin: 0;
	}

	.right.menu > a.item > span {
		display: none;
	}
}

@media only screen
and (max-width: 991px) {
	body {
		padding-top: 72px;
	}

	main.ui.raised.vertical.segment {
		min-height: calc(100vh - 72px);
	}

	header {
		height: 72px;
	}

	header.ui.menu > a.item:after {
		content: "NGSE";
	}

	.right.menu > a.item > i.icon {
		font-size: 1.5em;
		margin: 0;
	}

	.right.menu > a.item > span {
		display: none;
	}
}

.center.aligned.content {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}

.center.aligned.content > * {
	text-align: center;
}

.announcement.content {
	display: flex;
}

.ui.date.card {
	max-width: 6rem;
	margin: 0 1rem 0 0;
}

.ui.date.card > .content > .header {
	font-size: 2.2rem;
}